
* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-color);
    box-shadow: 0 2px 10px var(--box-shadow-color);
    position: sticky;
    top: 0;
    z-index: 3000;
}

.logo {
    display: flex;
    flex-direction: column;
}

.welcome{
    color: var(--text-primary2);
}
.logo h1 {
    color: var(--text-primary);
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(135deg, var(--text-primary1), var(--text-primary2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo .subtitle {
    color: var(--text-secondary);
    font-size: 1rem;
    margin-top: -2px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.search-container.active .search-btn {
    color: var(--text-secondary);
}

.profile-circle {
    position: relative;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    /* overflow: hidden; */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.profile-circle:hover {
    transform: scale(1.05);
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.status-dot {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 9px;
    height: 9px;
    background: var(--highlight);
    border: 2px solid var(--background-color);
    border-radius: 50%;
}

.search-btn:hover {
    transform: scale(1.1);
}

.theme-toggle-btn {
    background: var(--theme-toggle-bg);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 1rem;
}

.theme-toggle-btn:hover {
    transform: scale(1.1);
}

.theme-toggle-btn .theme-icon {
    color: var(--theme-toggle-color);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
    .header {
        padding: 1rem;
    }

    .logo h1 {
        font-size: 1.2rem;
    }

    .search-container.active .search-input {
        width: 150px;
    }
}