:root {
  /* Light theme variables */
  --background-color: #fff;
  --body-background-color: #f0f0f0;
  --text-primary: #222;
  --text-primary1: #00c3ca;
  --text-primary2: #007a7e;
  
  --text-secondary: #777;
  --text-button:#f8f8f8;
  --border-color: #fff;
  --tag-background: #dddddd;
  --highlight: #00c853;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --theme-toggle-bg: #f0f0f0;
  --theme-toggle-color: #333;
  --avatar-shadow: rgba(0, 0, 0, 0.4);
}

:root.dark-theme {
  --background-color: #1a1a1a;
  --body-background-color: #000812;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --text-button:#000;
  --border-color: #333333;
  --tag-background: #2a2a2a;
  --highlight: #00c853;
  --box-shadow-color: #0073ff86;
  --theme-toggle-bg: #333;
  --theme-toggle-color: #fff;
  --avatar-shadow: rgba(255, 255, 255, 0.4);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    
    background-color: var(--body-background-color);
    height: 83vh;
  width: 100%;

}

.weather-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  transition: background-image 0.6s ease-in-out;
}

.search-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


