:root {
  /* Light theme variables */
  --background-color: #fff;
  --body-background-color: #f0f0f0;
  --text-primary: #222;
  --text-primary1: #00c3ca;
  --text-primary2: #007a7e;
  
  --text-secondary: #777;
  --text-button:#f8f8f8;
  --border-color: #fff;
  --tag-background: #002122;
  --highlight: #00c853;
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --theme-toggle-bg: #f0f0f0;
  --theme-toggle-color: #333;
  --avatar-shadow: rgba(0, 0, 0, 0.4);
}

:root.dark-theme {
  --background-color: #1a1a1a;
  --body-background-color: #000812;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --text-button:#000;
  --border-color: #333333;
  --tag-background: #2a2a2a;
  --highlight: #00c853;
  --box-shadow-color: #0073ff86;
  --theme-toggle-bg: #333;
  --theme-toggle-color: #fff;
  --avatar-shadow: rgba(255, 255, 255, 0.4);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    
    background-color: var(--body-background-color);
    height: 83vh;
  width: 100%;

}

.weather-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  transition: background-image 0.6s ease-in-out;
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}
.quick-cities{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.city-button {
   position: relative;
    padding: 13px 20px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--tag-background);
    color: var(--text-button);
    cursor: pointer;
    box-shadow: 10px 10px 15px var(--box-shadow-color);
    transition: background-color 0.3s, color 0.3s;
    animation: citybtnglow 1.5s infinite;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.city-button:hover {
    background-color: var(--highlight);
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes citybtnglow {
  0% {
    box-shadow: 0 5px 5px var(--highlight);
  }
  50% {
    box-shadow: 0 5px 10px var(--highlight);
  }
  100% {
    box-shadow: 0 5px 5px var(--highlight);
  }
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


